<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
  {{ $cssFiles := slice "css/modules/variables.css" "css/modules/base.css" "css/modules/layout.css"
  "css/modules/cards.css" "css/modules/pages.css" "css/modules/code.css" "css/modules/animations.css" "css/main.css" }}
  {{ $styles := slice }}
  {{ range $cssFiles }}
  {{ with resources.Get . }}
  {{ $styles = $styles | append . }}
  {{ end }}
  {{ end }}
  {{ $bundle := $styles | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}">
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>

</html>