<section class="deck-column">
    <header class="deck-column__header">
        <h2>{{ .column.title }}</h2>
    </header>
    <div class="deck-column__content">
        {{ $category := .column.category }}
        {{ $pages := where site.RegularPages "Params.categories" "intersect" (slice $category) }}

        {{ $styleName := replace .column.style "-column" "" }}
        {{ $partialPath := printf "column/%s.html" $styleName }}

        {{ if templates.Exists (printf "partials/%s" $partialPath) }}
        {{ partial $partialPath (dict "category" $category "pages" $pages) }}
        {{ else }}
        {{ partial "column/write.html" (dict "category" $category "pages" $pages) }}
        {{ end }}
    </div>
</section>