{{/* 引用列模板 */}}
{{ range .pages }}
<article class="deck-card quote-card">
    <a href="{{ .RelPermalink }}">
        <div class="quote-card__content">
            {{ .Title }}
        </div>
        {{ with .Params.author }}<div class="quote-card__author">— {{ if reflect.IsSlice . }}{{ delimit . ", " }}{{ else
            }}{{ . }}{{ end }}</div>{{ end }}
        {{ with .Params.source }}<div class="quote-card__source">{{ if reflect.IsSlice . }}{{ delimit . ", " }}{{ else
            }}{{ . }}{{ end }}</div>{{ end }}
    </a>
</article>
{{ end }}